thanosRuler:
  retention: 48h
  volumeClaimTemplate:
    spec:
      volumeMode: Filesystem
      resources:
        requests:
          storage: 1Gi
prometheus:
  retention: 48h
  volumeClaimTemplate:
    spec:
      volumeMode: Filesystem
      resources:
        requests:
          storage: 1Gi
